*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/skin.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#face-container{

    height: 75vh;
}

h2, h1 {
    margin: auto;
    text-align: center;
}

#ugly{
    font-family: 'Hanalei Fill', cursive;
    font-size: 3em;
}

#noproblem{
    font-family: 'Quantico', sans-serif;    
    font-size: 4em;
}

#generate{
    margin-bottom: 5%;
    font-family: 'Quantico', sans-serif;    
    font-size: 2em;
}

span#face{
    font-style: italic;
}

#vertical-center{
    margin: 0;
    /* margin-top: 30vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: solid black 3px;
    border-radius: 2em;
    font-size: 5vw;
    padding: 0.5em;
    margin-top: 35vh;
    margin-left: 80%;
    margin-right: 1%;
    position: fixed;
    cursor: url(images/sad.png), auto;
}

button:hover{
    box-shadow: 0 10px 5px 0 black;
    /* background-color: pink; */
}

button:active{
    background-color: rgb(185, 184, 185);
}

#eyes{
    display: flex;
    justify-content: center;
}

#left-eyebrow, #right-eyebrow{
    height: 10vh;
    width: 200px;
    text-align: center;
}

#left-eyebrow{
    margin-right: 3%;
}

#right-eyebrow{
    margin-left: 3%;
}

#left-eye, #right-eye{
    height: 100px;
    width: 200px;
    text-align: center;
    margin-top: 10%;
    position: absolute;
}

#left-eye{
    margin-left: -30vw;
}

#right-eye{
    margin-right: -30vw;
}

#nose{
    height: 25vh;
    width: 150px;
    margin: auto;
    margin-top: 7vh;
}

#mouth {
    height: 20vh;
    width: 300px;
    margin: auto;
    text-align: center;
}


